* {
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background-image: url(pokeBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pokeImg {
    margin: 1.3rem;
    font-size: 1.15rem;
    font-weight: bold;
}

#mainDiv {
    backdrop-filter: blur(0.1rem);
    padding: 3rem;
    min-width: 2.4rem;
    border: 0.15rem solid rgb(68, 68, 68);
    border-radius: 0.8rem;
    background: linear-gradient(90deg,rgba(89, 250, 242, 0.87),rgba(114, 212, 76, 0.884));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#pokemonInput {
    border-radius: 0.65rem;
    border: 0.22rem solid rgb(139, 139, 139);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#pokemonBtn{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    border-radius: 0.45rem;
    border: 0.22rem solid rgb(139, 139, 139);
    
}

#pokeDexNum {
    margin: 1.1rem;
    font-size: 1.45rem;
    font-weight: bold;
}

